body{
    margin:20px;
    padding:80px;
    font-family:sans-serif;
  }
  .box{
    width: 300px;
    padding:30px;
    top:50%;
    left:50%;
    background:wheat;
    text-align:center;
  }
  .box h1{
    color:white;
    text-transform:uppercase;
    font-weight: 700;
  
  }
  .box input[type="text"],.box input[type="password"]
  {
    border:0;
    background:none;
    display:block;
    margin:20px auto;
      text-align:center;
        border:3px solid black;
        padding:14px 10px;
        width:220px;
        outline:none;
        color:white;
        border-radius: 24px;
        transition: 0.25px;
  }
  .box input[type="text"]:focus,.box input[type="password"]:focus
  {
    width: 270px;
    color:white;
  }
  .box input[type="submit"]
  {
    border:0;
    background:none;
    display:block;
    margin:20px auto;
      text-align:center;
        border:3px solid blue;
        padding:14px 35px;
        width:220px;
        outline:none;
        color:white;
        border-radius: 24px;
        transition: 0.25px;
        cursor: pointer;
  }