*{
    margin: 0;
    padding: 0;

}

body{
    background: rgba(0, 0, 0, 0.7) url('https://wallpapercave.com/wp/wp1874179.jpg');

    background-size: cover;
    /* background-blend-mode: darken; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.container h1{
    color:black;
    margin-left: 20px;
    cursor: pointer;
}

.navbar ul li{
    display: inline-block;
    padding: 18px;
    text-transform: uppercase;
}

.navbar ul li a{
    text-decoration: double;
    color: white;
    padding: 4px;
    transition: 5ms;
}

.navbar ul li a:hover{
    box-shadow: 0 30px 50px orangered inset, 0 30px 50px orangered inset, 0 30px 50px orangered inset, 0 30px 50px orangered inset, 0 30px 50px orangered inset, 0 30px 50px orangered inset, 0 30px 50px orangered inset;
}


.content{
    position: absolute;
    color: beige;
    top: 40%;
    left: 30%;
}


.content h1{
    font-size: 50px; 
}

.content p{
    text-align:center;
}







